@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@utility container{
    @apply mx-auto 
}


@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 570px;
  --breakpoint-md: 770px;
  --breakpoint-lg: 1020px;
  --breakpoint-xl: 1170px;
  --font-poppins : "Poppins", sans-serif;;
  --font-inter : "Inter", sans-serif;
  --color-primary : #DB4444;
  --color-secondary : #7D8184;
}

.slick-dots .slick-active div{
  @apply bg-primary border-2 border-white
}

.categoryItem:hover .icon svg g path {
  stroke: #fff;
}
.categoryItem:hover .icon svg g line {
  stroke: #fff;
}